.agent-view-container {
    height: 100%;
}
.chat-container {
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: scroll;
    border: 1px solid var(--blockquote-border-color);
    border-radius: 10px;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.chat-message {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat-message.sent {
    background-color: var(--color-blue);
    align-self: flex-end;
}

.chat-message.received {
    background-color: var(--color-base-50);
    align-self: flex-start;
}

.chat-message p.text {
    color: white;
}

.chat-input div.container {
    display: flex;
    max-height: 50%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.chat-input textarea.input {
    max-height: 100%;
    flex-grow: 1;
    resize: vertical;
}

.chat-input button.send {
    width: 15%;
}