.lawRef-suggestion-container {
  position: relative;
}

.lawRef-snippet {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 0.9rem;
  z-index: 100;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lawRef-suggestion-container:hover .lawRef-snippet {
  display: block;
}

.LawRefContainer {
  background-color: #929292; /* Grauer Hintergrund */
  color: #000000; /* Schwarze Schrift */
  padding: 10px; /* Etwas Innenabstand */
  border-radius: 5px; /* Abgerundete Ecken */
}